{% extends 'base.html' %}

{% block content %}
<h1>Experience Detail</h1>
<p><strong>Name:</strong> {{ experience.nama }}</p>
<p><strong>Subject:</strong> {{ experience.subjek }}</p>
<p><strong>Institution:</strong> {{ experience.instansi }}</p>
<p><strong>Start Date:</strong> {{ experience.periode }}</p>
<p><strong>End Date:</strong> {{ experience.akhir_periode }}</p>
<p><strong>Details:</strong> {{ experience.content }}</p>
<a href="{% url 'portfolio:experience_edit' experience.pk %}">Edit</a>
<a href="{% url 'portfolio:experience_list' %}">Back to List</a>
{% endblock %}
