{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Edit Image</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nama">Nama Gambar</label>
            {{ form.nama }}
        </div>
        
        <div class="form-group">
            <label for="id_gambar">Gambar</label>
            {% if image.gambar %}
                <p>Gambar saat ini: <br>
                   <img src="{{ image.gambar.url }}" alt="{{ image.nama }}" width="200" height="auto">
                </p>
                <p><strong>Upload Gambar Baru (Opsional):</strong></p>
            {% endif %}

            {{ form.gambar }}
        </div>

        <div class="form-group">
            <label for="id_description">Deskripsi</label>
            {{ form.description }}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
