<nav class="navbar navbar-light bg-light">
    <div class="d-flex flex-column">
        <a class="navbar-brand mb-3" href="{% url 'portfolio:link_list' %}">Portfolio</a>

        <!-- Links Section -->
        <a class="nav-link" href="{% url 'portfolio:link_list' %}">Links</a>
        <a class="nav-link" href="{% url 'portfolio:image_list' %}">Images</a>
        <a class="nav-link" href="{% url 'portfolio:project_list' %}">Projects</a>
        <a class="nav-link" href="{% url 'portfolio:skill_list' %}">Skills</a>
        <a class="nav-link" href="{% url 'portfolio:experience_list' %}">Experiences</a>
    </div>
</nav>
