{% extends 'base.html' %}

{% block content %}
<h1>Skill Detail</h1>
<p><strong>Name:</strong> {{ skill.nama }}</p>
<p><strong>Percentage:</strong> {{ skill.persentase }}%</p>
<p><strong>Level:</strong> {{ skill.tingkat }}</p>
<p><strong>Subject:</strong> {{ skill.subjek }}</p>
<p><strong>Description:</strong> {{ skill.content }}</p>
<p><strong>nama gambar :</strong> {{skill.image.nama}}</p>
{% if gambar_url %}
    <img src="{{ gambar_url }}" alt="{{ skill.nama }} Image">
{% else %}
    <p>No image available.</p>
{% endif %}
<p><strong>link :</strong> {{skill.link.link}}</p>
<a href="{% url 'portfolio:skill_edit' skill.pk %}">Edit</a>
<a href="{% url 'portfolio:skill_list' %}">Back to List</a>
{% endblock %}
