{% extends "base.html" %}

{% block content %}


<div class="container">
    <h1>{{Heading}}</h1>
    {% include "blog/navbar.html" %}
    <div class="row">
        {% for post in Articles %}
        <div class="col-md-4 mt-5">
            <div class="card">
                <div class="card-body">
                    <a class="text-decoration-none " href="{% url 'blog:detail_artikel' post.slug_art %}">
                        <h2 class="card-title">{{post.judul}}</h2>
                    </a>
                    <span class="text-secondary">{{post.pubdate}}</span>
                    <p class="text-dark fst-norma">{{post.isi|truncatewords:20}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}