{% extends "base.html" %}
{% load static %}
{% block content %}
{% comment %} <a href="{% url 'portfolio:edit_portfolio' %}">edit portfolio</a> {% endcomment %}
 
<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col d-flex align-items-center">
                <img class="profile-image img-fluid rounded-circle me-3"
                    src="{% static 'portfolio/images/profileku.png' %}" alt="profile image" id="profileImage"
                    style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal" />
                <div class="profile-content">
                    <h1 class="name">Asrul Maaliy</h1>
                    <h2 class="desc">Web App Developer &<br><a href="{% url 'template' %}">Cyber Security</a> </h2>
                            <ul class="social list-inline mb-0">
                                <li class="list-inline-item"><a href="{{twitter_link.link}}"><i
                                            class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="{{linkedin_link.link}}"><i
                                            class="fab fa-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="{{github_link.link}}"><i
                                            class="fab fa-github-alt"></i></a></li>
                                <li class="list-inline-item"><a href="{{instagram_link.link}}"><i
                                            class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a href="{{facebook_link.link}}"><i
                                            class="fab fa-facebook"></i></a></li>
                            </ul>
                </div><!--//profile-->
            </div><!--//col-->
            <div class="col-12 col-md-auto">
                <div class="d-flex dark-mode-switch">
                    <div class="bg-theme">
                        <i class="uil mx-2" id="darkModeToggle"></i>
                    </div>
                    <label class="form-check-label mx-2" for="darkModeToggle" id="modeLabel">Dark Mode</label>
                </div>
                <a class="btn btn-cta-primary" href="https://github.com/asrulmaaliy26" target="_blank"><i
                        class="fas fa-paper-plane"></i> Contact Me</a>
            </div><!--//col-->
        </div><!--//row-->
    </div><!--//container-->
</header><!--//header-->

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Profile Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img src="{% static 'portfolio/images/profileku.png' %}" class="img-fluid" id="modalImage"
                    alt="profile image enlarged">
            </div>
        </div>
    </div>
</div>


<div class="container sections-wrapper py-5 mb-2">
    <div class="row">
        <div class="primary col-lg-8 col-12">
            <section class="about section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading ">{{aboutme.nama}}</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    <div class="content">
                        <p>{{aboutme.content}}</p>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="latest section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Latest Projects</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('ga error')"></i>
                    </div>
                    <div class="content">

                        <div class="item featured text-center">

                            <div class="featured-image has-ribbon">
                                <a href="https://admin.maalhidayahkauman.sch.id/" target="_blank">
                                    <img class="img-fluid project-image rounded shadow-sm"
                                        src="{% static 'portfolio/images/projects/adminlpipanel.png' %}"
                                        alt="project name" />
                                </a>
                                <div class="ribbon">
                                    <div class="text">New</div>
                                </div>
                            </div>

                            <h3 class="title mb-3"><a href="https://admin.maalhidayahkauman.sch.id/" target="_blank">Launch -
                                    The perfect Admin System with Laravel</a>
                            </h3>

                            <div class="desc text-start">
                                <p>Admin LPI panel menyediakan layanan form kunjungan, form pesan dan saran atau aduan,
                                    form untuk kunjungan sebagai calo wali santri baru dengan jadwal yang dapat
                                    ditentukan . Dilenkapi Sending Email fitur dan memiliki 3 layer admin dan dilengkapi
                                    Middleware disetiap layer.</p>
                            </div><!--//desc-->
                            <a class="btn btn-cta-secondary" href="https://github.com/asrulmaaliy26?tab=repositories"
                                target="_blank"><i class="fas fa-thumbs-up"></i>
                                Back my project</a>
                        </div><!--//item-->
                        <hr class="divider" />
                        {% if projects %}
                        {% for project in projects %}
                        <p>

                        </p>
                        <div class="item row">
                            <a class="col-md-4 col-12" href="https://github.com/asrulmaaliy26" target="_blank">
                                <img class="img-fluid project-image rounded shadow-sm"
                                    src="media/{{project.image.gambar}}" alt="{{project.nama}}" />
                            </a>
                            <div class="desc col-md-8 col-12">
                                <h3 class="title"><a href="{{project.link.link}}" target="_blank">
                                        {{project.nama}}
                                    </a></h3>
                                <p class="mb-2">{{project.content}}</p>
                                <p><a class="more-link" href="{{project.link.link}}" target="_blank"><i
                                            class="fas fa-external-link-alt"></i>Find out more</a>
                                </p>
                            </div><!--//desc-->
                        </div><!--//item-->
                        {% endfor %}
                        {% endif %}

                    </div><!--//content-->
                </div><!--//section-inner-->
            </section><!--//section-->

            <section class="experience section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Work Experience</h2>
                        <i class="edit__work__experience uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    <div class="content">
                        {% if experiences %}
                        {% for ex in experiences %}
                        <div class="item">
                            <h3 class="title">{{ex.nama}} - <span class="place"><a href="#">{{ex.instansi}}</a></span>
                                <span class="year">({{ex.periode}} - Present)</span></h3>
                            <p>{{ex.content}}</p>
                        </div><!--//item-->
                        {% endfor %}
                        {% endif %}
                        <div class="item">
                        </div><!--//content-->
                    </div><!--//section-inner-->
            </section><!--//section-->
            <section class="github section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">My GitHub</h2>
                        <i class="edit__work__experience uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                </div><!--//secton-inner-->
            </section><!--//section-->
        </div><!--//primary-->
        <div class="secondary col-lg-4 col-12">
            <aside class="info aside section">
                <div class="section-inner shadow-sm rounded">
                    <h2 class="heading sr-only">Basic Information</h2>
                    <div class="content">
                        <ul class="list-unstyled">
                            <li><i class="fas fa-map-marker-alt"></i><span
                                    class="sr-only">Location:</span>{{alamat.content}}</li>
                            <li><i class="fas fa-envelope"></i><span class="sr-only">Email:</span><a
                                    href="{{email.link}}">{{email.subjek}}</a></li>
                            <li><i class="fas fa-link"></i><span class="sr-only">Website:</span><a
                                    href="{{website.link}}">{{website.subjek}}</a></li>
                        </ul>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//aside-->

            <aside class="skills aside section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Skills</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    <div class="content">
                        <p class="intro">
                            Intro about your skills goes here. Keep the list lean and only show your primary
                            skillset. You can always provide a link to your Linkedin or Github profile so people can
                            get more info there.</p>

                        <div class="skillset">
                            {% if pemrograman_skills %}
                            {% for skill in pemrograman_skills %}
                            <div class="item">
                                <h3 class="level-title"> {{skill.nama}} <span class="level-label"
                                        data-bs-toggle="tooltip" data-bs-placement="left"
                                        data-bs-title="You can use the tooltip to explain more about your skill level..."><i
                                            class="fas fa-info-circle"></i>{{skill.tingkat}}</span></h3>

                                <div class="level-bar progress">
                                    <div class="progress-bar level-bar-inner" role="progressbar"
                                        style="width: {{ skill.persentase }}%;" aria-valuenow="{{ skill.persentase }}"
                                        aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div><!--//level-bar-->

                            </div><!--//item-->
                            {% endfor %}
                            {% else %}
                            <p>Tidak ada link dengan nama 'twitter'.</p>
                            {% endif %}
                            <p><a class="more-link" href="{{github_link.link}}"><i
                                        class="fas fa-external-link-alt"></i>More on
                                    GitHub</a></p>
                        </div>
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->


            <!-- Testimonials -->
            <aside class="testimonials aside section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Testimonials</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    <div class="content">
                        <!-- <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fas fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
                                </blockquote>                
                                <p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>                                                             
                            </div> -->

                        <p><a class="more-link" href="{{linkedin_link.link}}"><i
                                    class="fas fa-external-link-alt"></i>More on
                                Linkedin</a></p>

                    </div>
                </div>
            </aside>

            <aside class="education aside section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Education</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    <div class="content">
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Sekolah Dasar</h3>
                            <h4 class="university">SDN 2 Seumberejo Kulon <span class="year">(2008-2014)</span>
                            </h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Sekolah Menengah Pertama</h3>
                            <h4 class="university"> SMPN 1 Ngunut <span class="year">(2014-2017)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Sekolah Menengah Atas</h3>
                            <h4 class="university"> MA Darul Hikmah <span class="year">(2017-2021)</span></h4>
                        </div><!--//item-->
                        <div class="item">
                            <h3 class="title"><i class="fas fa-graduation-cap"></i> Sarjana Teknik Informatika</h3>
                            <h4 class="university"> UIN Maulana Malik Ibrahim Malang <span class="year">(2021 -
                                    2025)</span></h4>
                        </div><!--//item-->
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="languages aside section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Languages</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    <div class="content">

                        {% if bahasa_skills %}
                        <ul class="list-unstyled">
                            {% for skill in bahasa_skills %}
                            <li class="item">
                                <span class="title"><strong>{{skill.nama}} : </strong></span>
                                <span class="level">{{skill.tingkat}} <br class="visible-xs" />
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                            </li><!--//item-->
                            {% endfor %}
                        </ul>

                        {% else %}
                        <p>Tidak ada link dengan nama 'twitter'.</p>
                        {% endif %}
                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="blog aside section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Latest Blog Posts</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    {% if articles %}
                    {% for artikel in articles %}
                    <p><a href="{% url 'blog:detail_artikel' artikel.slug_art %}">{{artikel.judul}}</a></p>
                    {% endfor %}
                    {% endif %}
                    <div id="rss-feeds" class="content">

                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

            <aside class="credits aside section">
                <div class="section-inner shadow-sm rounded">
                    <div class="d-flex">
                        <h2 class="heading">Credits</h2>
                        <i class="edit__about__me uil uil-edit mx-2 mt-1 btn__toast" id="button__toast"
                            onclick="createNotification('error')"></i>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled pb-2">
                            <li><a href="https://getbootstrap.com/" target="_blank"><i
                                        class="fas fa-external-link-alt"></i>Bootstrap</a></li>
                            <li><a href="https://fortawesome.github.io/Font-Awesome/" target="_blank"><i
                                        class="fas fa-external-link-alt"></i>FontAwesome</a></li>
                        </ul>
                        <h5 class="subheading pt-3">Want more free Bootstrap themes and templates?</h5>
                        <p>Check out our <a href="#">collection of free
                                themes and templates.</a></p>
                        <p>Follow <a href="{{twitter_link.link}}" target="_blank">Asrul Maaliy</a> on
                            twitter so you don't miss any future freebies!</p>

                        <a class="btn btn-cta-secondary btn-follow" href="{{twitter_link.link}}" target="_blank"><i
                                class="fab fa-twitter"></i> Follow on twitter</a>

                    </div><!--//content-->
                </div><!--//section-inner-->
            </aside><!--//section-->

        </div><!--//secondary-->
    </div><!--//row-->
    <div id="toasts"></div>
</div><!--//masonry-->


{% endblock content %}