{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center text-uppercase mt-3">Fitur Prediksi</h1>
    {% include "prediksi/navbar.html" %}
</div>

<div class="container mt-5">
    <h1>{{ message }}</h1>
    <p>Prediksi</p>
    
    <!-- Dropdown untuk memilih file -->
    <select id="fileSelect" class="form-control mt-3">
        <option value="">-- Pilih File --</option>
        {% for file in files %}
        <option value="{{ file.name }}">{{ file.name }}</option>
        {% endfor %}
    </select>

    <!-- Tombol untuk memproses file -->
    <button id="processFileBtn" class="btn btn-success mt-2"
        data-url="{% url 'mlapp:prediksi:proses_file' 'dummy' %}">
        Proses File
    </button>
</div>

<script>

    document.getElementById("processFileBtn").addEventListener("click", function () {
        let selectedFile = document.getElementById("fileSelect").value;
        if (selectedFile) {
            let urlTemplate = this.getAttribute("data-url");
            let finalUrl = urlTemplate.replace("dummy", encodeURIComponent(selectedFile));
            window.location.href = finalUrl;
        } else {
            alert("Silakan pilih file terlebih dahulu.");
        }
    });
</script>

{% endblock content %}
