<nav class="navbar navbar-light bg-light">
    <div class="d-flex flex-column">
        {% include "navbar.html" %}

        <!-- Links Section -->
        <a class="nav-link {% if request.resolver_match.url_name == 'index' %}active{% endif %}" href="{% url 'fitruapp:index' %}">index</a>
        <a class="nav-link {% if request.resolver_match.url_name == 'upload_image' %}active{% endif %}" href="{% url 'fitruapp:upload_image' %}">Compress Image</a>
        {% comment %} <a class="nav-link {% if request.resolver_match.url_name == 'image_list' %}active{% endif %}" href="{% url 'portfolio:image_list' %}">Images</a> {% endcomment %}
        {% comment %} <a class="nav-link {% if request.resolver_match.url_name == 'project_list' %}active{% endif %}" href="{% url 'portfolio:project_list' %}">Projects</a> {% endcomment %}
        {% comment %} <a class="nav-link {% if request.resolver_match.url_name == 'skill_list' %}active{% endif %}" href="{% url 'portfolio:skill_list' %}">Skills</a> {% endcomment %}
        {% comment %} <a class="nav-link {% if request.resolver_match.url_name == 'experience_list' %}active{% endif %}" href="{% url 'portfolio:experience_list' %}">Experiences</a> {% endcomment %}
    </div>
</nav>
<style>
    .nav-link.active {
        font-weight: bold;
        color: #0d6efd !important; /* Color blue Bootstrap */
        border-bottom: 2px solid #0d6efd; /* Optional underline for active link */
    }
    
</style>